<div class="top-wrapper">
  <div class=top-top>
    <div class="title">
    <h1>ポートフォリオ共有アプリ</h1>
    </div>
    <div class="top-content">
      <p class="description">
        プログラミング言語を学習したいが実際どんなものが作れるか知りたいあなた、<br>
        ポートフォリオ作りたいけどどんなものにしよう...<br>
        ポートフォリオ作ったけど就職活動中だけ使用して終わり？<br>
        ポートフォリオを一人でも多くの人に使ってもらいたいor自慢したい！<br>
        日々の成果を形としてアウトプットしたい！<br>
        アウトプットしながら就職活動もしたい！<br>
        そんな方々に向けたアプリケーションとなっています！<br>
      </p>
    </div> 
  </div>
</div>



