<script>
$(function(){

 /*=================================================
  Inview（画面に表示されたタイミングで処理を実行）
  ===================================================*/
  // BBBが選ばれる理由（スライド左）
  $('.inview-slide-left').on('inview', function(event, isInView, visiblePartX, visiblePartY) {
    if(isInView){
      // 要素が表示されたらslide-leftクラスを追加
      $(this).stop().addClass('slide-left');
    }
  });
  // BBBが選ばれる理由（スライド右）
  $('.inview-slide-right').on('inview', function(event, isInView, visiblePartX, visiblePartY) {
    if(isInView){
      // 要素が表示されたらslide-rightクラスを追加
      $(this).stop().addClass('slide-right');
    }
  });
  // 受講生の声（ふきだし）
  $('.inview-balloon').on('inview', function(event, isInView, visiblePartX, visiblePartY) {
    if(isInView){
      // 要素が表示されたらballoonクラスを追加
      $(this).stop().addClass('balloon');
    }
  });
});


  });


</script>

<div class="top-wrapper">


  
    <main>
      <!-- メインビジュアル -->
      <div id="mainvisual">
        <div class="text">
          <p class="title">こんな<br>ポートフォリオが<br>つくれる！</p>
          
          <%= link_to "投稿一覧はこちら！", open_portfolios_path, class:"btn", data: {"turbolinks"=>false} %>
        </div>
        <ul class="fade">
          <li><img src="img/mainvisual1.jpg" alt=""></li>
          <li><img src="img/mainvisual2.jpg" alt=""></li>
          <li><img src="img/mainvisual3.jpg" alt=""></li>
        </ul>
      </div>
  <!-- スクールの概要 -->
      <section id="summary">
        <div class="wrapper">
          <h2 class="section-title">プログラミンナの概要</h2>

          <ul class="menu">
            <li>
              <h3 class="menu-title">
                <span class="ja">ポートフォリオ投稿機能</span>
                <span class="en">CRUD</span>
              </h3>
              <p>ポートフォリオの閲覧や共有、また言語別やキーワードで検索出来る!!</p>
            </li>
            <li>
              <h3 class="menu-title">
                <span class="ja">メッセージ機能</span>
                <span class="en">MESSAGE</span>
              </h3>
              <p>気になる箇所や質問などユーザー同士で行えるメッセージ機能!!</p>
            </li>
            <li>
              <h3 class="menu-title">
                <span class="ja">お気に入り機能</span>
                <span class="en">FAVORITE</span>
              </h3>
              <p>気に入った投稿や後ですぐ見たい投稿など、お気に入りしストック可能!!</p>
            </li>
            <li>
              <h3 class="menu-title">
                <span class="ja">SNS登録機能</span>
                <span class="en">SNS</span>
              </h3>
              <p>プロフィールページからtwitter,Github,Qiitaのアカウントを登録し新しい繋がりを増やせる!!</p>
            </li>
          </ul>
        </div>
      </section>

      <!-- 無料体験申し込み -->
      <div id="entry" class="wrapper">
        <p class="title">どんな投稿があるかチェックしてみませんか？</p>
        <p class="catchphrase">閲覧のみは登録不要！</p>
        <%= link_to "新規登録はこちら", new_user_registration_path, class:"btn", data: {"turbolinks"=>false} %>
      </div>
    
  </main>

  <h2 class="section-title">開発した背景</h2>

    <footer id="top-footer">
    <p class=top-footer-p>
      
      ぼくはプログラミングスクールに通いRubyを4ヶ月間学習しました。
      モノづくりの基本は作りたいモノがあり、作り方を学ぶというのが基本だと思いますが、実際スクール卒業までにどんなモノが作れるか想像もつきませんでした。
      そんな中参考になったのが、先輩が作ったポートフォリオでした。『こんなのがつくれるのか！』『この発想真似したいな！』などすごく参考なりました。<br>
      そんな経験からポートフォリオをまとめて閲覧できるアプリケーションが欲しいと考えました。またせっかく作ったポートフォリオですが就職活動で使用して終わりなんて方も多いのではないでしょうか？すごくもったいないと思います。
      そういった思いからプログラミンナの開発を決意しました。

    </p> 
    </footer>

  


</div>


