<div class="top-wrapper">
  <div class=top-top>
    <div class="title">
    <h1>ポートフォリオ共有アプリ</h1>
    </div>
    <div class="top-content">
      <p class="description">
        プログラミング言語を学習したいが実際どんなものが作れるか知りたいあなた、<br>
        ポートフォリオ作りたいけどどんなものにしよう...<br>
        頑張って作ったポートフォリオ就職活動後はどうしますか？<br>
        ポートフォリオを一人でも多くの人に使ってもらいたいor自慢したい！<br>
        日々の成果を形としてアウトプットしたい！<br>
        アウトプットしながら就職活動もしたい！<br>
        そんな方々に向けたアプリケーションとなっています！<br>
      </p>
    </div>
  </div>
  <div class="top-second-content">
     <h3>機能一覧</h3>
      <p class="second-description">
        ・WEBアプリケーションやWEBプロフィールページの閲覧,投稿,編集,削除<br>
        ・マークアップ言語やサーバーサイド言語で検索し閲覧可能<br>
        ・質問などが出来るメッセージ機能<br>
        ・参考にしたい投稿などをお気に入り、ストック機能<br>
        ・プロフィール機能(twitter,Qiita,Github)アカウント表示<br>
      
      </p>
    </div> 
</div>


