<div class="top-wrapper">
  <div class="top-image">
  <div class="top-portfolio-title">
   <h1>こんなポート<br>フォリオ<br>が作れる！</h1>
  </div>
  <div class=top-top>
    <div class="title">
    <h1>ポートフォリオ共有アプリ</h1>
    </div>
    <div class="top-content">
      <p class="description">
        プログラミング言語を学習したいが実際どんなものが作れるか知りたいあなた、<br>
        ポートフォリオ作りたいけどどんなものにしよう...<br>
        頑張って作ったポートフォリオ就職活動後はどうしますか？<br>
        ポートフォリオを一人でも多くの人に使ってもらいたいor自慢したい！<br>
        日々の成果を形としてアウトプットしたい！<br>
        アウトプットしながら就職活動もしたい！<br>
        そんな方々に向けたアプリケーションとなっています！<br>
      </p>
    </div>
  </div>
    </div>





<div class="second-top-image2">
    
    </div>






<h2 class="top-card-title">新規登録後使える機能説明</h2>
    <div class="top-card">

    <div class="card1">

    <div class="inner-card1">
    </div>
    <div class="inner-font">
    <p><span class="font-bold">ポートフォリオの閲覧、投稿機能</span><br>
    <br>
    どんな作品があるのか新規登録して見てみましょう！<br>
    その他にもユーザーどうしで行えるメッセージ機能や、お気に入りしストックすることが出来ます。
    <p>
    </div>
    </div>


    <div class="card2">
    <div class="inner-card2">
    
    </div>
    <div class="inner-font">
    <p><span class="font-bold">言語別やキーワード別で検索機能</span><br><br>
    プログラミング学習を始めたい方または現在学習中の方言語によって作れるものは様々です。<br>
    言語によってどのようなページが作れるのか実際に見てみまししょう！
    
    </p>
    </div>
    </div>


    <div class="card3">
    <div class="inner-card3">

    </div>
    <div class="inner-font">
    <p><span class="font-bold">プロフィールSNS登録機能</span><br><br>
    プロフィールにGithub,Twitter,Qiitaのアカウントを登録することができ
    繋がりや、知識の共有なども出来ます。
    </p>
    </div>
    </div>

    </div>






 















    <div class="second-top-image-flex">
    
<div class="second-top-image">
    </div>
    <%# <div class="second-top-image2">
    </div> %>
    </div>
    





    <div class="second-top-image-flex">
<%#     
<div class="second-top-image">
    </div> %>
   
    </div>
    
<h2 class="top-card-title">アプリケーションの制作理由</h2>
<div class="reason">
<p>
開発した背景:僕はプログラミングスクールに通いRubyonRailsを学びました。
作りたいものがあり、作り方を学ぶ。それがものづくりの基本かもしれませんが、プログラミングにおいて、はそれはすごく難しいと感じました。RubyonRailsでどんなアプリが作れるのか？調べても答えは見つかりませんでした。
そんな中参考になったのが通っていたスクールの先輩が作ったアプリケーションでした。
またスクールに入校した同期の方々も初めから作りたいものがある！という方は少ない印象を受けました。
そんな経験からこのアプリケーションの開発を決意しました。
</p>
</div>


</div>


