<div class="top-wrapper">
  <div class="top-image">
  <div class=top-top>
    <div class="title">
    <h1>ポートフォリオ共有アプリ</h1>
    </div>
    <div class="top-content">
      <p class="description">
        プログラミング言語を学習したいが実際どんなものが作れるか知りたいあなた、<br>
        ポートフォリオ作りたいけどどんなものにしよう...<br>
        頑張って作ったポートフォリオ就職活動後はどうしますか？<br>
        ポートフォリオを一人でも多くの人に使ってもらいたいor自慢したい！<br>
        日々の成果を形としてアウトプットしたい！<br>
        アウトプットしながら就職活動もしたい！<br>
        そんな方々に向けたアプリケーションとなっています！<br>
      </p>
    </div>
  </div>
    </div>

<h2 class="top-card-title">新規登録後使える機能説明</h2>
    <div class="top-card">

    <div class="card1">

    <div class="inner-card1">
    </div>
    <div class="inner-font">
    <p>新規登録後WEBアプリケーションやWEBプロフィールページの閲覧、投稿機能が使えます。<br>
    どんな作品があるのか新規登録して見てみましょう！<br>
    その他にもユーザーどうしで行えるメッセージ機能や、お気に入りしストックすることが出来ます。
    <p>
    </div>
    </div>


    <div class="card2">
    <div class="inner-card2">
    
    </div>
    <div class="inner-font">
    <p>言語別やキーワード別で検索機能<br>
    プログラミング学習を始めたい方または現在学習中の方言語によって作れるものは様々です。<br>
    言語によってどのようなページが作れるのか実際に見てみまししょう！
    
    </p>
    </div>
    </div>


    <div class="card3">
    <div class="inner-card3">

    </div>
    <div class="inner-font">
    <p>プロフィールSNS登録機能<br>
    プロフィールにGithub,Twitter,Qiitaのアカウントを投稿することができ
    繋がりや、知識の共有などが出来ます。
    </p>
    </div>
    </div>

    </div>



    <div class="second-top-image-flex">
    
<div class="second-top-image">
    </div>
    <%# <div class="second-top-image2">
    </div> %>
    </div>
    



<h2 class="top-card-title">アプリケーションの使い方</h2>

<div class="function">
<div class="function-login">
<h3>①新規登録をクリックし必要内容を入力し新規登録をする</h3>
<h3>②新規登録が成功するとマイページにいきます</h3>
<h3>③マイページ画面左にメニューがあり行いたい動作をクリックします</h3>

</div>


<div class="function-wrapper">
  <div class="function-post">
    <h3 class="index">ポートフォリオ投稿機能</h3><br>
    <p>①新規登録する</p><br>
    <p>②画面左のポートフォリオ投稿をクリック</p><br>
    <p>③内容を入力し登録するをクリック</p><br>
    <p>④画面左の投稿一覧から自分が投稿したものを確認する。</p><br>
  </div>
  <div class="function-message">
  <h3 class="index">メッセージ投稿機能</h3><br>
    <p>①新規登録する</p><br>
    <p>②画面左のポートフォリオ一覧をクリック</p><br>
    <p>③閲覧したいポートフォリオの画像をクリック</p><br>
    <p>④ポートフォリオの詳細画面に移動し<br>
    画面右側に投稿者のプロフィールが表示される</p><br>
    <p>⑤そこにメッセージボタンがあるのでそこからメッセージを送る</p>
  </div>
  <div class="function-like">
  <h3 class="index">お気に入り投稿機能</h3><br>
 <p>①新規登録する</p><br>
    <p>②画面左のポートフォリオ一覧をクリック</p><br>
    <p>③気になるポートフォリオをクリック</p><br>
    <p>④ポートフォリオの詳細画面に移動ししたに(いいね)が表示される</p><br>
    <p>⑤いいねしたものは画面左のお気に入り一覧からまとめて閲覧できる</p>
  </div> 
</div>


</div>


    <div class="second-top-image-flex">
<%#     
<div class="second-top-image">
    </div> %>
    <div class="second-top-image2">
    </div>
    </div>
    
<h2 class="top-card-title">アプリケーションの制作理由</h2>
<div class="reason">
<p>開発した背景：僕はプログラミングスクールに入りRubyonRailsを学び成果物を作成しようと考えたころいくつか疑問が生まれました。実際どんなものが作れるのか？ インターネットで検索しても解決につながる記事は見つかりませんでした。成果物の作成に悩んでいるかた、また言語によってどんなものが作れるのか知りたい方そんな方々の少しでも役に立つことができればと思ったのがきっかけです。
問題点と解決策 成果物の案に悩んでいる、言語によってどんなものが作れるかわからない、成果物を就活後眠らせてしまう、自分の成果物を少しでも世間に広めたい、そんな方々の悩みを解決するために作成しました。</p>
</div>


</div>


