  
  
  <div id="message ">
 
  <% if notice %>
    <p class="alert alert-notice"><i class="fab fa-angellist"></i><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><i class="fab fa-angellist"></i><%= alert %></p>
  <% end %>

</div>
  