<p>こんちは</p>

<div id="main-sidebar">

<%= link_to 'マイページ', profile_path(current_user.profile.id) if current_user.profile.present? %><br>
<%= link_to 'ポートフォリオ投稿', new_portfolio_path %>
<%= link_to 'ポートフォリオ一覧', portfolios_path %>
<br>
<%= link_to 'message', conversations_path %>
  

</div>