/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  font-family: "Montserrat";
  // background-image: image-url('haikei2.png');
  background-color: rgb(0, 0, 0);
  background-size: cover;
  color: #030303;
  min-height: 1000px;
  margin-top: 0;
}

 .pagination{
   margin-top: 50px;
   justify-content: center;
 }
 
li{
  list-style-type: none ;
}
.link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



.nil{
  height: 150px;
}



#header{
  position:fixed;
  top:0;
  margin:0;
  padding:4px;
  width:100%;
  background-color:#ccc;
  z-index:9999;
  height:50px;
}


/* サイドバー */
#sidebar_fixed {
  // background-image: image-url('sidebar.png');
  background-color: rgb(2, 2, 2);
  width: 225px;
  position: fixed;
  top: 50px;
  left: 0px;
  height: 900px; 
  padding-top: 0px;
}

.sidebar-inner{
  text-align: center;
  align-items: center;
}
.sidebar-inner li{
  padding-top: 20px;
  font-size: 1.3rem;
}

// test

/* 7 */

/* 5 */
.frame {
  width: 100%;
  margin: 40px auto;
  text-align: center;
}
li a {
 margin: 10px;
  text-decoration: none;
}
.custom-btn {
  width: 200px;
  height: 40px;
  color: rgb(224, 224, 224);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  
}
.btn-5 {
  width: 200px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 255, 255);
background: linear-gradient(0deg, rgba(119, 119, 119, 0) 0%, rgb(59, 59, 59) 100%);
}
.btn-5:hover {
  color: 	#007bff;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: 	#007bff;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}


  

// test
// ここまで
// フラッシュメッセージ
#message{
color: red; 
}

// ここからヘッダー
.programinna{
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin: 0 auto;
}
