/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  font-family: "Montserrat";
  background-image: image-url('haikei2.png');
  background-size: cover;
  color: #030303;
  min-height: 800px;
  margin-top: 0;
}

 .pagination{
   margin-top: 50px;
   justify-content: center;
 }
 
li{
  list-style-type: none ;
}
a{
  text-decoration: none;
}




.nil{
  height: 150px;
}



#header{
  position:fixed;
  top:0;
  margin:0;
  padding:4px;
  width:100%;
  background-color:#ccc;
  z-index:9999;
  height:50px;
}


/* サイドバー */
#sidebar_fixed {
  background-color: rgb(44, 44, 44);
  width: 20%;
  position: fixed;
  top: 130px;
  left: 35px;
  height: 550px; 
  
}
.sidebar-inner{
  text-align: center;
  align-items: center;
}
.sidebar-inner li{
  padding-top: 20px;
  font-size: 1.3rem;
}

// ここまで
// フラッシュメッセージ
#message{
color: red; 
}