// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sns-form{
  position: absolute;
  top: 4rem;
  left: 3rem; 

}


.sns-submit{
 margin:20px 0 0 120px ;
}
.sns-p{
  color: aquamarine;
}




