// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// * {
//   overflow-wrap: break-word;
//   word-wrap: break-word;
// }


.card-body{
  overflow: scroll; 
  height: 200px
}

.framework {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}
.framework-wrapper{
  width: 280px;
  flex-direction: column;
}
.framework li{
  padding: 5px 7px 5px 0;
 
}
.framework li>*{
  max-width: 100%;    
}
.card_topic{
  height: 450px;
  
}
.p-image:hover{
  opacity: 0.5;
}
.card-deck{
  margin-top: 3rem;
}

.p-footer p{
  position: absolute;
  margin: 0 10px 10px 0;
  right: 0;
  bottom: 0;
  padding: 10px 5px 0 0;
  font-size: 14px;
  color: rgb(85, 85, 84);
}
.p-like p{
  position: absolute;
  margin-bottom: 10px;
  left: 0;
  bottom: 0;
  padding: 10px 5px 0 0;
  font-size: 14px;
  color: rgb(85, 85, 84);
}
.pf-footer{
  height: 40px;
}

// ここから詳細


.pf-body{
  margin-top: 100px;
  
}
.pf-image{
  padding: 1.5rem;
}
.pf-content{
  padding: 2rem;
}
.pf-content p{
 font-size: 1rem;
}
.pf-framework p{
  font-size: 1rem;
}
.framework li{
  font-size: 1rem;
}