// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.name{
  color: #c74385;
}

.prof-card{
  height: 400px; ;
}
.my-pf{
  margin-top: 150px;
  margin-bottom: 150px;
}
.comment{
  text-align: center;
}



// ここからしたはshow
element .style{
margin-top: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s;
}


.show-main {
  max-width: 775px;
  min-height: 575px;
  margin: 150px auto 0;
  
  box-shadow: 0 10px 90px #00000024;
  text-align: center;
  font-size: 17px;
  border-radius: 15px;
}

.card .card-header {
  position: relative;
  height: 48px;
}
.card .card-header .profile-img {
  width: 200px;
  height: 200px;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #000000;
  box-shadow: 0 0 20px #00000033;
}

.card .card-header .profile-img:hover {
  width: 180px;
  height: 180px;
  border: 8px solid #d885af;
}
.card .show-body {
  padding: 50px 40px;
}

.card .show-body .name {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #c74385;
}

// .card .card-body .name:hover {
//   opacity: 0.7;
//   font-size: 30px;
//   color: #d885af;
// }

.card .card-body .mail {
  font-size: 14px;
  color: #c2bdbd;
}

.card .card-body .mail:hover {
  font-size: 16px;
  color: #ffffff;
}

.card .card-body .job {
  margin-top: 10px;
  font-size: 20px;
}
.card .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px ;
}

.card .social-links .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #c74385;
  color: #ffffff;
  font-size: 20px;
  border-radius: 100%;
  text-decoration: none;
  margin: 0 20px 30px 20px;
}

.card .social-links .social-icon:last-child {
  margin-right: 0;
}

.card .social-links .social-icon:hover {
  background-color: #d885af;
  
  text-decoration: none;
}
.card .card-footer {
  background-color: #c74385;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px 0 20px 0;
}

.card .card-footer .count {
  font-size: 14px;
}
@media screen and (max-width: 575px) {
  .card {
      width: 96%;
  }

  .card .card-body {
      padding: 10px 20px;
  }
}

// ここまで
// ここから入力フォーム
.gender{
 display: flex;
}
.gender .field{
  padding: 0px 20px;
}
.hissu{
  color: red;
}
.prof-body-field{
  height: 200px;
  width: 100%;
}