// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// _form
.gender{
  display: flex;
}
.required:after {
  margin-left: 1.0em;
  padding: 0px 6px 0px 6px;
  border-radius: 4px;
  font-size: 0.6em;
  color: white;
  background-color: #C44;
  content: "必須";
}



// _form

.prof-body{
  padding-top: 3rem;
}
span .name {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  
}

.prof-wrapper{
  margin: 100px 0 100px 0;
  height: 600px;
  border: 3px solid black;
  
}
.prof-image{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  
  margin:  0 auto;
}
.profile-info{
  padding-top: 2rem;
}

.profile-info p{
  font-size: 1rem ;
}
.prof-status p{
  font-size: 1rem;
}





.prof-pf{
  margin: 100px 0 100px 0;
  height: 600px;
  border: 1px solid black;
  overflow: scroll
}




.prof-card{
  height: 380px;
  overflow: scroll;
}
.prof-index-image{
  background-color: darkgrey;
  text-align: center;
}

.no-gutters{
  max-height: 200px;
}
.card{
  margin-left: 10px;
}
.prof-content{
  height: 200px;
  width: 450px;
  padding: 5px 0 5px 10px;

}