// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mr{
  margin: 0 0 0 auto;
  margin-right: 80px;
}
.top-image{
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: auto;
}
.nav-item {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}